body {

    background-color: teal;
  }
  
  h1 {
  
    color: white;
    text-align: center;
    font-size: 40px; 
  }

  div {
    color: white;
    font-size: 20px;
  }  

  img {
    float: left;
    margin-top: 0px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 0px;

  }

  /*https://www.w3schools.com/css/css_navbar.asp*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:gray;
  }

  .active {
    background-color: gray;
  }